<div class="d-inline-block p-50px bg-danger transform-rotate-45 transform-o-rt">top-right z-45deg</div>
<div class="d-inline-block p-50px bg-warning transform-rotate-45 transform-o-lt">lt</div>
<div class="d-inline-block p-50px bg-info transform-rotate-45 transform-o-rb">right-bottom</div>
<div class="d-inline-block p-50px bg-primary transform-rotate-45 transform-origin-lb">left-top</div>

<div class="d-inline-block p-50px bg-danger transform-rotate-x-45 transform-o-rt">top-right z-45deg</div>
<div class="d-inline-block p-50px bg-warning transform-rotate-x-45 transform-o-lt">lt</div>
<div class="d-inline-block p-50px bg-info transform-rotate-x-45 transform-o-rb">right-bottom</div>
<div class="d-inline-block p-50px bg-primary transform-rotate-45 transform-rotate-x-45 transform-origin-lb">left-top</div>
