<app-slide></app-slide>
<app-rotate></app-rotate>


<p>
  .property-name-value &#123;
  property: value;
  &#125;
</p>

<table>
  <thead>
  <tr>
    <th>property</th>
    <th>abbreviation</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>display</td>
    <td>d</td>
  </tr>
  <tr>
    <td>padding</td>
    <td>p</td>
  </tr>
  <tr>
    <td>margin</td>
    <td>m</td>
  </tr>
  <tr>
    <td>animation-duration</td>
    <td>am-d-5s</td>
  </tr>
  <tr>
    <td>animation-function</td>
    <td>am-f</td>
  </tr>
  <tr>
    <td>transform</td>
    <td>transform</td>
  </tr>
  </tbody>
</table>
